<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="plateforme.component.css">
  <title>SamaGokh</title>
</head>
<body>
   <nav>
     <div><img src="../../../assets/images/truelogo.png" alt="Logo"></div>
     <div>
       <ul>
         <li>Accueil</li>
         <li>Missions</li>
         <li>Projets en cours</li>
         <li>Comment soumettre un projet</li>
         <li>Compte</li>
       </ul>
     </div>
   </nav>

   <!-- Conteneur vidéo en arrière-plan -->
   <div class="video-background-container">
     <video autoplay muted loop>
       <source src="../../../assets/images/videodkr.mp4" type="video/mp4">
     </video>
     <!-- Overlay noir au-dessus de la vidéo -->
     <div class="overlay"></div>

     <!-- Contenu de la page au-dessus de l'overlay -->
     <div class="caisse">
       <h1>Bienvenue sur SAMAGOKH</h1>
       <p>La participation citoyenne au cœur de chaque décision est la pierre angulaire de Sama Gokh.
         En impliquant directement les habitants dans le processus décisionnel, nous nous assurons
         que chaque voix compte et que les besoins réels de la communauté sont entendus. 
       </p>
       <button href="#soumettre-projet" class="cta-button">Soumettre un projet</button>
     </div>
   </div>
<h2><span class="span1">Mis</span><span class="span2">sio</span><span class="span3">ns</span></h2>
<div class="caisse2">
  <div>
      <div class="jaune"></div>
      <p class="paragraphe1"><span>Améliorer la transparence </span> : Permettre une plus grande transparence 
      dans la gestion des projets de la commune en rendant les informations 
      accessibles et en recueillant les avis de la population.</p>
      <img src="../../../assets/images/fisrtpic.png" alt="" class="firstpic">
  </div>
 <div class="box2">
       <p class="paragraphe2"> <span>Renforcer l'implication citoyenne</span>: Intégrer les habitants
         directement dans le processus de prise de décision en leur permettant
          de voter sur les projets municipaux et de soumettre leurs propres propositions..</p>
      <img src="../../../assets/images/secondpic.png" alt="" class="secondpic">
      <div class="vert"></div>
 </div>
</div>
<h2><span class="span1">Projets</span>  <span class="span2">en</span>  <span class="span3">cours</span></h2>
<div class="caisse2">
  <div class="box4  box-overlay">
   <h4> Création d’une médiathèque</h4>
   <button class="btnview">Voir le projet</button>
  </div>
  <div class="box5  box-overlay">
    <h4>Réfectionnement du centre de santé</h4>
    <button class="btnview">Voir le projet</button>
  </div>
  <div class="box6  box-overlay">
    <h4>Mise en place de nouvelles poubelles publics</h4>
    <button class="btnview">Voir le projet</button>
  </div>
</div>
<h2><span class="span1">Comment</span>   <span class="span2">soumettre</span>   <span class="span3">un projet</span></h2>
<div class="caisse3">
  <div>
    <img src="../../../assets/images/Group 9.png" alt="">
  </div>
  <div>
    <img src="../../../assets/images/Group 10.png" alt="">
  </div>
  <div>
    <img src="../../../assets/images/Group 11.png" alt="">
  </div>
</div>
<footer>
  <div>
  <img src="../../../assets/images/SAMAGOKH (4).png" alt="SamaGokh" class="logo">
</div>
<div>
  <p class="title">Liens</p>
  <p class="a">Acceuil</p>
  <p class="a">Missions</p>
  <p class="a">Projets en cours</p>
  <p class="a">Comment soumettre un projet</p>
  <p class="a">Compte</p>
</div>
<div>
  <p class="title">Coordonnées</p>
  <p>Tél:77-000-00-00</p>
  <p>Fix: 33-000-00-00</p>
  <p>Email: samagokh@gmail.com</p>
</div>
<div>
  <p class="title">Newsletter</p>
  <p>Entrer votre adresse mail <br><input type="text"></p>
  <button class="btn-send">Envoyer</button>
</div>
</footer>

</body>
</html>
