<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plateforme.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>SamaGokh</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/SAMAGOKH (4).png" alt="SamaGokh" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Missions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projets en cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comment soumettre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Compte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="hero-section">
    <h1 class="mb-4">La participation citoyenne au cœur de chaque décision</h1>
    <a href="#soumettre-projet" class="cta-button">Soumettre un projet</a>
</div>

<h2><span class="span1">Mis</span><span class="span2">sio</span><span class="span3">ns</span></h2>
<div class="caisse">
  <div>
      <div class="jaune"></div>
      <p class="paragraphe1"><span>Améliorer la transparence </span> : Permettre une plus grande transparence 
      dans la gestion des projets de la commune en rendant les informations 
      accessibles et en recueillant les avis de la population.</p>
      <img src="../../../assets/images/fisrtpic.png" alt="" class="firstpic">
  </div>
 <div class="box2">
       <p class="paragraphe2"> <span>Renforcer l'implication citoyenne</span>: Intégrer les habitants
         directement dans le processus de prise de décision en leur permettant
          de voter sur les projets municipaux et de soumettre leurs propres propositions..</p>
      <img src="../../../assets/images/secondpic.png" alt="" class="secondpic">
      <div class="vert"></div>
 </div>
</div>
<h2><span class="span1">Projets</span>  <span class="span2">en</span>  <span class="span3">cours</span></h2>
<div class="caisse2">
  <div class="box4  box-overlay">
   <h4> Création d’une médiathèque</h4>
   <button class="btnview">Voir le projet</button>
  </div>
  <div class="box5  box-overlay">
    <h4>Réfectionnement du centre de santé</h4>
    <button class="btnview">Voir le projet</button>
  </div>
  <div class="box6  box-overlay">
    <h4>Mise en place de nouvelles poubelles publics</h4>
    <button class="btnview">Voir le projet</button>
  </div>
</div>
<h2><span class="span1">Comment</span>   <span class="span2">soumettre</span>   <span class="span3">un projet</span></h2>
<div class="caisse3">
  <div>
    <img src="../../../assets/images/Group 9.png" alt="">
  </div>
  <div>
    <img src="../../../assets/images/Group 10.png" alt="">
  </div>
  <div>
    <img src="../../../assets/images/Group 11.png" alt="">
  </div>
</div>
<footer>
  <div>
  <img src="../../../assets/images/SAMAGOKH (4).png" alt="SamaGokh" class="logo">
</div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>     
</body>
</html>
