<div class="container">
    <div class="side-bar-section">
      <app-side-bar></app-side-bar>
    </div>

    <div class="liste-content">
      <div class="content-title-btn">
        <div class="title">
          <h2>Liste des projets de la mairie</h2>
        </div>
        <div class="btn-add">
          <a href="#"><img src="../../../../assets/images/icons/add_circle.svg" alt=""> Créer un projet</a>
        </div>
      </div>
      <app-card-projet-mairie></app-card-projet-mairie>
      <app-card-projet-mairie></app-card-projet-mairie>
      <app-card-projet-mairie></app-card-projet-mairie>
      <app-card-projet-mairie></app-card-projet-mairie>
      <app-card-projet-mairie></app-card-projet-mairie>
      <app-card-projet-mairie></app-card-projet-mairie>
      <div class="pagination-container">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
            </ul>
        </nav>
    </div>
   </div>

</div>
