<div class="sidebar">
  <div class="logo">
    <img src="assets/images/logo-side-bare.png" alt="Logo">
  </div>
  <nav class="menu">
      <a href="#" class="menu-item active">
          <img src="../../../../assets/images/icons/dashboard.svg" alt="">
          Dashboard
      </a>
      <a href="#" class="menu-item">
        <img src="../../../../assets/images/tactic.png" alt="">

          Projets
      </a>
      <a href="#" class="menu-item">
        <img src="../../../../assets/images/icons/group.svg" alt="">
        Nos Habitants
      </a>
      <a href="#" class="menu-item">
        <img src="../../../../assets/images/icons/add_chart.svg" alt="">

          Nouveau projet
      </a>
      <a href="#" class="menu-item">
        <img src="../../../../assets/images/icons/event_list.svg" alt="">

          Projets soumis
      </a>
      <a href="#" class="menu-item">
        <img src="../../../../assets/images/icons/logout.svg" alt="">

          Déconnexion
      </a>
  </nav>
</div>
