<div class="container my-5">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" id="titre" formControlName="titre" placeholder="Titre">
      </div>
      <div class="col-md-6 mb-3">
        <label for="titre">Image</label>
        <input type="file" class="form-control" id="image" formControlName="image" placeholder="Image du projet">
      </div>
      <div class="col-md-6 mb-3">
        <label for="objectif">Objectif</label>
        <input type="text" class="form-control" id="objectif" formControlName="objectif" placeholder="Objectif">
      </div>

      <div class="col-md-6 mb-3">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description" placeholder="Description"></textarea>
      </div>
      <div class="col-md-6 mb-3">
        <label for="attente">Attente</label>
        <input type="text" class="form-control" id="attente" formControlName="attente" placeholder="Attente">
      </div>
      <div class="col-md-6 mb-3">
        <label for="categorie">Catégorie</label>
        <input type="text" class="form-control" id="categorie" formControlName="categorie" placeholder="Catégorie">
      </div>
      <div class="col-md-6 mb-3">
        <label for="cible">Cible</label>
        <input type="text" class="form-control" id="cible" formControlName="cible" placeholder="Cible">
      </div>
      <div class="col-md-6 mb-3">
        <label for="budget">Budget</label>
        <input type="text" class="form-control" id="budget" formControlName="budget" placeholder="Budget">
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button type="button" class="btn btn-outline-warning mr-3" (click)="onCancel()">Annuler</button>
      <button type="submit" class="btn btn-outline-success">Enregistré</button>
    </div>
  </form>
</div>
