<body>

  <div class="card">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Projet 2">
    <div class="card-body">
        <h5 class="card-title">Match de football</h5>
        <p class="card-text">Un projet pour aider les élèves en difficulté scolaire ...</p>
<div class="btnApprouver">
          <button class="btn-detail">Détail</button>
        <div class="badge-approved">
            <span class="bi bi-check-circle"></span> Approuvé
        </div>

</div>            </div>
</div>


  </body>
