body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 2rem;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../.././../../assets/images/Rectangle\ 100.png);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-wrap: wrap;
}

.image-side {
    background-color: #FA983A;
    padding: 2rem;
    color: #fff;
    flex: 1;
    text-align: center;
}

.image-side img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-side h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.image-side p {
    font-size: 1.2rem;
}

.form-side {
    flex: 1;
    padding: 2rem;
}

.form-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.btn-submit {
    background-color: #28a745;
    color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    border: none;
    width: 100%;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #218838;
}

.form-text {
    color: #888;
    text-align: center;
    margin-top: 1rem;
}

.highlight {
    color: #ff66b2;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffc107;
    border-color: #ffc107;
}


@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .image-side,
    .form-side {
        padding: 1rem;
    }

    .image-side h2 {
        font-size: 1.5rem;
    }

    .image-side p {
        font-size: 1rem;
    }
}