<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Projet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container my-5">
        <div class="card shadow-sm p-4" style="background-color: #d3d3d3; border-radius: 15px;">
            <div class="row">
                <div class="col-12">
                    <img src="https://via.placeholder.com/681x200" alt="Jardin Communautaire" class="img-fluid rounded">
                </div>
                <div class="col-12 my-3">
                    <span class="badge badge-success p-2">
                        <i class="fas fa-seedling"></i> Agriculture
                    </span>
                    <h3 class="font-weight-bold mt-2">Jardins Communautaires en Zone Urbaine</h3>
                </div>
                <div class="col-12">
                    <p><strong>Description :</strong> Mise en place de jardins communautaires dans les zones urbaines
                        pour produire des légumes frais.</p>
                    <p><strong>Attente :</strong> Augmentation de la production locale de légumes et réduction de la
                        dépendance aux marchés extérieurs.</p>
                    <p><strong>Cible :</strong> Résidents des zones urbaines à faible revenu.</p>
                    <p><strong>Statut :</strong> <span class="text-warning">En cours</span></p>
                    <p><strong>Budget :</strong> <span class="badge badge-light p-2">1.300.000 FCFA</span></p>
                </div>
                <div class="col-12">
                    <div class="vote_apprpouve d-flex ">
                        <div>
                            <p class="mb-0">Vote total</p>
                            <span class="badge badge-primary p-2">3500</span>
                        </div>
                        <div>
                            <p class="mb-0">Approuver</p>
                            <span class="badge badge-success p-2">2100</span>
                        </div>
                        <div>
                            <p class="mb-0">Désapprouver</p>
                            <span class="badge badge-danger p-2">940</span>
                        </div>
                    </div>
                </div>
                <div class="btn_apprpouve col-12 d-flex ">
                    <button class="btn btn-success btn-lg">Approuver</button>
                    <button class="btn btn-danger btn-lg">Désapprouver</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>
